body {
	--primary-sage: #87bcbf;
	--primary-rust: #d97d54;
	--primary-drab: #324755;
	--primary-danger: #d95454;

	--secondary-ice: #f0f3f4;
	--secondary-fossil: #c8d1d3;
	--secondary-sand: #b9b0a2;

	--typography-onyx: #1b1c20;
	--typography-slate: #6e8ca0;
	--typography-snow: #ffffff;

	--font-primary: "europa", sans-serif;
	--font-secondary: "rift-soft", sans-serif;

	font-family: var(--font-primary);
}

/* body.darkTheme {} */

main {
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

article {
	display: grid;
	grid-template-columns: 100vw 25vw;

	position: relative;

	a {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto auto;

		img {
			width: 100%;
			grid-area: 1/1/3/2; 
		}


	}
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}
