@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-26%);
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
        
    }
}