.categoriesChecklist {

    $border-radius: 1em;
    
    display: flex;
    flex-direction: column;
    gap: 1px;

    margin: 1em;
    height: min-content;
    background-color: inherit;
    box-shadow: var(--big-shadow);
    border-radius: $border-radius;

    text-transform: uppercase;
    font-weight: 700;
    color: var(--darkest);

    label:first-of-type {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
    }

    label {
        $slider-height: 1.25em; /* withuot space */
        $slider-width: 2.25em; /* withuot space */
        $slider-space: .1em;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--lightest);
        padding: 1em;

        font-size: .9em;

        input {
            opacity: 0;
        }

        .slider {
            display: block;

            border-radius: $slider-height + $slider-space * 2;
            width: $slider-width + $slider-space * 2;
            height: $slider-height + $slider-space * 2;
            background-color: var(--mid);
            
            position: relative;

            transition: all .5s ease;
        }
        
        .slider::after{
            content: ' ';

            height: $slider-height;
            width: $slider-height;
            border-radius: $slider-height;
            box-shadow: var(--small-dark-shadow);
            background-color: var(--lightest);

            position: absolute;
            top: $slider-space;
            right: $slider-width - $slider-height + $slider-space;

            transition: all .3s ease;
        }
        
        input:checked + .slider{
            background-color: var(--primary-sage);
        }
        
        input:checked + .slider::after{
            right: $slider-space;
        }
        
    }

    label:last-of-type {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}